<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="fragments/head :: head(~{})">

<body>
<main class="container">

    <div class="row">
        <div class="col-sm-6 text-dark p-3">
            <h1 class="py-5">Pessoas Físicas</h1>
            <form class="col-md-6" th:action="@{/pf/save}" th:object="${pessoaFisica}"
                  method="post">
                <input type="hidden" class="form-control" th:field="*{id}">
                <label for="nome">Nome da pessoa</label><br>
                <input type="text" th:field="*{nome}" id="nome" autofocus><br>
                <label for="cpf">CPF</label><br>
                <input type="text" th:field="*{cpf}" id="cpf"><br>
                <label for="fone">Telefone</label><br>
                <input type="text" th:field="*{telefone}" id="fone"><br>
                <label for="email">E-mail</label><br>
                <input type="text" th:field="*{email}" id="email"><br><br>


                <div th:insert="~{fragments/address::address}"></div>
                <input type="submit" class="btn btn-success" value="Enviar">
            </form>
        </div>
    </div>

    <hr>
    <div class="mb-2 col-lg-6">
    </div>
</main>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>