<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="fragments/head :: head(~{})">

<body>
<main class="container">

    <h1 style="padding:2.5em 0.5em 0.5em;" th:text="${titulo}"></h1>

    <div class="row">
        <div class="col-sm-6   text-dark p-3">
            <form th:action="${pessoaFisica.id == null} ? @{/pf/save} : @{/pf/update}"
                  th:object="${pessoaFisica}" method="post">
                <input type="hidden" th:field="*{id}">
                <label for="nome">Nome da pessoa</label><br>
                <input type="text" th:field="*{nome}" id="nome" autofocus><br>
                <label for="cpf">CPF</label><br>
                <input type="text" th:field="*{cpf}" id="cpf"><br>
                <label for="fone">Telefone</label><br>
                <input type="text" th:field="*{telefone}" id="fone"><br>
                <label for="email">E-mail</label><br>
                <input type="text" th:field="*{email}" id="email"><br><br>
                <input type="submit" class="btn btn-success" value="Enviar">

            </form>
        </div>

<!--        <div class="col-sm-6 bg-dark text-white p-3">-->
<!--            <div th:replace="~{fragments/address::address}">-->
<!--            </div>-->
<!--        </div>-->

    </div>
    <hr>
    <div class="mb-2 col-lg-6">
    </div>
</main>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>