<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="fragments/head :: head(~{})">

<body>
<main class="container">
    <h1 style="padding:2.5em 0.5em 0.5em;" th:text="${titulo}"></h1>
    <div class="col-sm-6   text-dark p-3">
    <form class="container" th:action="${pessoaJuridica.id == null} ? @{/pj/save} : @{/pj/update}"
          th:object="${pessoaJuridica}" method="post">
        <input type="hidden" th:field="*{id}">
        <label for="nome">Razão Social</label><br>
        <input type="text" th:field="*{nome}" id="nome" autofocus><br>
        <label for="cnpj">CNPJ</label><br>
        <input type="text" th:field="*{cnpj}" id="cnpj"><br>
        <label for="fone">Telefone</label><br>
        <input type="text" th:field="*{telefone}" id="fone"><br>
        <label for="email">Email</label><br>
        <input type="text" th:field="*{email}" id="email"><br><br>
        <div class="col-sm-6 bg-dark text-white p-3">
        <div th:insert="~{fragments/address::address}">
        </div>
    </div>
        <input type="submit" class="btn btn-success" value="Enviar">
    </form>
    </div>
</main>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>