<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="fragments/head :: head(~{})">

<body class="container">
<!--Colocar uma imagem de background-->

<main class="container py-3">
    <table class="table" border="1">
        <thead>
        <h1>Produtos</h1>
        <tr th:align="center">
            <th scope="col">#</th>
            <th scope="col">Descricao</th>
            <th scope="col">preco</th>
            <th scope="col" class="text-center">Quantidade</th>
            <th scope="col">subtotal</th>
            <th scope="col">Excluir</th>
        </tr>
        </thead>
        <tbody th:align="center">
        <!--TODO: Implementa a listagem de produtos no carrinho-->
        <tr th:each="i, iterStat : ${session.venda.itensVendas}">
            <td th:text="${iterStat.index+1}">
            <td th:text="${i.produto.descricao}">
            <td th:text="${i.produto.valor}"></td>
            <td th:text="${i.quantidade}"></td>
            <td th:text="${i.total()}"></td>
            <td>

                <a onclick="return window.confirm('Deseja excluir o item?')"
                   th:href="@{/vendas/remove/{id}(id=${iterStat.index})}">
                    <button class="btn btn-danger">Excluir</button>
                </a>

            </td>
        </tr>
        <tr th:align="center">
            <td colspan="4" class="text-end">Total</td>
            <td th:text="${session.venda.totalVendas()}"></td>
            <td>
                <a th:href="@{/vendas/finalizar}">
                    <button class="btn btn-success">Finalizar</button>
                </a>
            </td>
        </tr>
        </tbody>


    </table>
</main>
</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>
