<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="fragments/head :: head(~{})"></head>

<body>

<main>

    <form class="container" th:action="${pessoaFisica.id == null} ? @{/pessoas/save} : @{/pessoas/update}"
          th:object="${pessoaFisica}" method="post">

        <div class="form-row">
            <div class="mb-2 col-lg-6">
                <input type="hidden" th:field="*{id}">
                <input class="form-control" type="text" th:field="*{nome}" placeholder="Nome">
            </div>
            <div class="mb-2 col-lg-6">
                <input class="form-control" type="text" th:field="*{cpf}" placeholder="CPF">
            </div>
            <div class="mb-2 col-lg-6">
                <input type="submit" value="Enviar">
            </div>
        </div>
    </form>

</main>

</body>
</html>
