<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="fragments/head :: head(~{})"></head>

<body>
<main class="container py-3">
    <table class="table" border="1">
        <thead>
        <h1>Produtos</h1>
        <tr th:align="center">
            <th scope="col">#</th>
            <th scope="col">Data</th>
            <th scope="col">Cliente</th>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Entrega</th>
        </tr>
        </thead>
        <tbody th:align="center">
        <tr th:each="i : ${venda.getItensVendas()}">
            <td th:text="${i.id}"></td>
            <td th:text="${i.venda.data}"></td>
            <td th:text="${i.venda.pessoa.nome}"></td>
            <td th:text="${i.produto.descricao}"></td>
            <td th:text="${i.quantidade}"></td>
            <td th:text="${i.getVenda().getEndereco()}"></td>
        </tbody>
    </table>
</main>
</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>
