<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="fragments/head :: head(~{})">

<body class="container">
<main class="container py-5">
    <div class="container text-light">
        <h1>Cadastrar produto</h1>
        <form th:action="${produto.id == null} ? @{/produtos/save} : @{/produtos/update}" th:object="${produto}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <label>Descrição:</label>
            <input class="form-control" type="text" th:field="*{descricao}"  placeholder="Descrição">
            <label>Preço:</label>
            <input class="form-control" type="text" th:field="*{valor}"  placeholder="Valor">
            <br>
            <input class="btn btn-outline-dark" type="submit" value="Salvar">
        </form>
    </div>
</main>
</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>