<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="fragments/head :: head(~{})"></head>


<body>
<main class="container py-3">
    <table class="table table-dark table-hover">

        <h1>Loja X-Machine</h1>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Quantidade</th>
            <th>Adicionar</th>
        </tr>

        <tr class="alert alert-warning" role="alert" th:each="p : ${produtos}">
            <form th:action="@{/vendas/add}" th:object="${itemVenda}" method="post">
                <td th:text="${p.id}"></td>
                <td th:text="${p.descricao}"></td>
                <td th:text="${p.valor}"></td>
                <td><input type="number" name="quantidade" placeholder="Quantidade"></td>
                <input type="hidden" name="produto.id" th:value="${p.id}">
                <td><input type="submit" value="Adicionar"></td>
            </form>
        </tr>

    </table>
</main>
</body>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>
